<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberVo">
		<insert id="insert" parameterType="memberVo">
		INSERT INTO member
		(member_seq, member_id, member_password, member_nickname, member_birth_day, member_reg_day)
		VALUES
		(member_seq.nextval, #{mId}, #{mPassword}, #{mNickname}, #{mBirthday}, SYSDATE)
	</insert>
	
	<select id="idDup" parameterType="String"  resultType="int">
		SELECT COUNT(*) FROM member WHERE member_id = #{mId}
	</select>
	
	<select id="nicknameDup" parameterType="String"  resultType="int">
		SELECT COUNT(*) FROM member WHERE member_nickname = #{mNickname}
	</select>
	
	<update id="updateAuthkey" parameterType="memberVo" >
		UPDATE member SET member_authkey = #{mAuthkey} WHERE member_id = #{mId}
	</update>
	
	<update id="updateAuth" parameterType="memberVo" >
		UPDATE member SET member_auth = #{mAuth} WHERE member_authkey = #{mAuthkey}
	</update>
	
</mapper>